﻿@model HomeIndexViewModel

@{
    ViewBag.Title = "Employee List";
    IEnumerable<Employee> employees = Model.Employees;
    IEnumerable<EmployeePhoto> employeePhotos = Model.EmployeePhotos;
}

<div class="card-deck">
    @foreach (var employee in employees)
    {
        //var photoPath = $"~/Images/{employee.PhotoPath ?? "noimage.png
        var photo = employeePhotos.FirstOrDefault(e => e.EmployeeId == employee.Id).PhotoPath;
        var photoPath = $"~/Images/{photo ?? "noimage.png"}";
        <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <img class="card-img-top imageThumbnail" src="@photoPath"
                 asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-info m-1">View</a>
                <a href="#" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>
